<!-- Modal -->
<div class="modal fade" id="modalListLogs" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalErrorHeader">History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--<div id="myChart" style="width:80vh;height:50vh;"></div>-->
        <div class="container">
          <table id="table_list" class="display">
              <thead>
                <tr>
                  <th>date</th>
                  <th>value</th>
                  <th>duration</th>
                </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
