<!--https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb-->

<div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Device Manager</span>
        </a>
        <div class="dropdown pb-4">
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="../dashboard"
                <% if(page == "Dashboard"){%>
                  class="active"
                <% } %>
                  class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
           <% if(user.level >= 4){%>
            <li>
                <a href="../users"
                <% if(page == "Users"){%>
                  class="active"
                <% } %>
                class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
            </li>
            <% } %>
            <% if(user.level >= 4){%>
            <li>
                <a href="../clients"
                <% if(page == "Clients"){%>
                  class="active"
                <% } %>
                class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-person-lines-fill"></i> <span class="ms-1 d-none d-sm-inline">Clients</span></a>
            </li>
            <% } %>
            <% if(user.level >= 3){%>
            <li>
                <a href="../firmwares"
                <% if(page == "Firmwares"){%>
                  class="active"
                <% } %>
                class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-cpu"></i> <span class="ms-1 d-none d-sm-inline">Firmwares</span></a>
            </li>
            <% } %>
            <li>
                <a href="../devices"
                <% if(page == "Devices"){%>
                  class="active"
                <% } %>
                class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-phone"></i> <span class="ms-1 d-none d-sm-inline">Devices</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/avatar/avatar.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1"><%= user.id %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="../logout">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
